services:
  web:
    build:
      context: ${CONTEXTO}
      # Buscará en caronte/dockerfiles/snode/Dockerfile
      dockerfile: ./dockerfiles/snode/Dockerfile 
    
    container_name: ${CONTAINER_NAME}
    image: ${IMAGE_NAME}
    
    ports:
      - "${PORT_SSH}:22"
      # Mapeamos tu puerto 1987 al 5173 interno de Vite
      - "${PORT_WEB}:5173"
      
    env_file:
      - ./.env
      
    volumes:
      - ./logs:/root/logs
      # Subimos 2 niveles para encontrar tu código: deploy -> pnode -> proyecto/mi-web-tarkov
      - ../../mi-web-tarkov:/app
      
    networks:
      netcaronte:
        ipv4_address: ${IP}

networks:
  netcaronte:
    external: true