services:
  web:
    build:
      context: ${CONTEXTO}
      dockerfile: ./dockerfiles/snode/Dockerfile
    
    container_name: ${CONTAINER_NAME}
    image: ${IMAGE_NAME}
    
    ports:
      - "${PORT_SSH}:22"
      # CAMBIO CLAVE: Ahora mapeamos tu puerto externo 1987 al puerto 80 interno (Nginx)
      - "${PORT_WEB}:80" 
      
    env_file:
      - ./.env
      
    volumes:
      - ./logs:/root/logs
      # IMPORTANTE: No montes el volumen de código local, o machacarás el 'node_modules' 
      # que instalamos dentro. Déjalo comentado o bórralo.
      # - ../../mi-web-tarkov:/app 
      
    networks:
      netcaronte:
        ipv4_address: ${IP}

networks:
  netcaronte:
    external: true